<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mates-Mail</title>
</head>
<body>
    <main>
        <h1>⌜Mates-Mail︎⌟</h1>
        <form action="/login" method="post">
            <input class="i1" type="text" name="name" placeholder="Username" autofocus autocomplete="off">
            <input class="i2" type="password" name="password" placeholder="password" autofocus autocomplete="off" type="password">
            <p class="invalid">{{error}}</p>
            <button type="submit">Login</button>
        </form>
        <div>
            <p>Don't have an account yet? <a href="/register">Register</a></p>
        </div>
        <link rel="stylesheet" href="../static/login.css">
    </main>
</body>
</html>
